<div class="form-bg">
    <div class="container">

        <div class="row">
            <div class=" fixed-header mt-5">
        
                <div class="form-container">
                    <form [formGroup]="Login" (ngSubmit)="login()" class="form-horizontal " >
                        <h3 class="title">Login Form</h3>
                        <label *ngIf="error" style="color: red;">WRONG CREDENTIALS</label>

                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                            <input class="form-control" type="email" placeholder="Email" id="email" name="email"
                                formControlName="email" >
                                
                        </div>
                        <span class="error" *ngIf="email?.invalid && email?.touched">Email is required</span>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" placeholder="Password" id="password"
                                name="password" formControlName="password" >
                        </div>
                        <span class="error" *ngIf="password?.invalid && password?.touched">Password is required</span>
                        <button class="btn signin" [disabled]="Login.invalid" >Log in</button>

                        <span class="register"><a href="registration">Register / Signup</a></span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>