body 
	margin: 0 
	padding: 0 
	font-family: 'Roboto', sans-serif 
	background-image: radial-gradient(circle, #8aff8a, #acfd87, #c7fa89, #ddf78f, #eff598) 
input 
	&.ng-invalid 
		border-left: 5px solid red 
	&.ng-valid 
		border-left: 5px solid rgb(0, 255, 51) 
.error 
	color: red 
